/*-------------------------------------*/
/*************INITIAL STYLING***********/
/*-------------------------------------*/

html {
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    display: flex;
}

/*************INITIAL STYLING***********/

a {
    text-decoration: none;
    color: #503ec2;
}

a:hover {
    text-decoration: underline;
    color: #e64ea4;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;

}

